@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif !important;
	transition: all 0.1s;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.404);
}
body {
	overflow-x: hidden;
}

@keyframes animateRound {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

audio {
	border-bottom: 1px solid rgb(3, 3, 3);
	border-radius: 0.3rem;
}
